<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <div class="m-0 text-center text-white designBy wow fadeInDown" data-wow-duration=".7s" data-wow-delay="2.2s">
            Made by <a href="http://www.poniwebstudio.com" target="_blank">Po | Ni</a> web studio
        </div>
    </div>
</footer>

<!-- Script -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/wow.js"></script>
<script src="js/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>

<script>
    baguetteBox.run('.tz-gallery');
</script>