<footer>
    <div class="copyright">
        <p>Created by <span class="panel_author"><a href="mailto:pikerstrow@gmail.com">Oleksandr Mishchuk</a></span></p>
    </div>
</footer>


<script src="{{ url('js/jquery.js') }}"></script>
<script src="{{ url('js/bootstrap.js') }}"></script>
<script src="{{ url('js/app.js') }}"></script>
<script src="{{ url('js/admin.js') }}"></script>