<footer>
    <div class="copyright">
        <p><span class="panel_author">Made by <a href="http://www.poniwebstudio.com" target="_blank"><span style="color:#ffb734">Po | Ni</span></a> web studio</span></p>
    </div>
</footer>


<script src="{{ url('js/jquery.js') }}"></script>
<script src="{{ url('js/bootstrap.js') }}"></script>
<script src="{{ url('js/app.js') }}"></script>
<script src="{{ url('js/admin.js') }}"></script>