<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Responsive -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Seo -->
    <meta name="description" content="Анахата йога - студія м. Луцьк. Практика хатха йоги в сучасному розумінні з певних причин набула хибного вираження. Ми не претендуємо на істинність методу, та для нас є важливим нагадати, змістити орієнтир до першоджерел. На наших заняттях ми пропонуємо Вам Вас же самих. Ми пропонуємо шлях самозаглиблення, самопізнання, самовиявлення через такі інструменти йоги, як асана, пранаяма, концентрація, медитація. Шлях не простий, проте сповнений життя.">
    <meta name="keywords" content="Йога Луцьк, Йога, Йога з дітьми Луцьк, Йога для вагітних Луцьк, вартість заняття йогою Луцьк, користь йоги, Медитація, Практика йоги Луцьк, Натхи Луцьк, Школа натхів в Луцьку,для чого займатися йогою, Тренер з йоги Анахата Луцьк, Тренер з йоги Іра Луцьк, графік занять йога студія Луцьк">

    <!-- Url Info -->
    <meta property="og:url"          content="http://anahata.in.ua/index.html" />
    <meta property="og:type"         content="article" />
    <meta property="og:title"        content="Анахата йога - студія м. Луцьк" />
    <meta property="og:description"  content="Анахата йога - студія м. Луцьк. Практика хатха йоги в сучасному розумінні з певних причин набула хибного вираження. Ми не претендуємо на істинність методу, та для нас є важливим нагадати, змістити орієнтир до першоджерел. На наших заняттях ми пропонуємо Вам Вас же самих. Ми пропонуємо шлях самозаглиблення, самопізнання, самовиявлення через такі інструменти йоги, як асана, пранаяма, концентрація, медитація. Шлях не простий, проте сповнений життя." />
    <meta property="og:image"        content="http://anahata.in.ua/img/gallery/last/2.jpg" />

    <!-- Favicon -->
    <link rel="icon" href="img/icon/favicon.png" type="image/x-icon">

    <!-- Styles -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Jura:300" rel="stylesheet">

</head>

<body class="password-page d-flex flex-row justify-content-center align-items-center">
{% block content %}{% endblock %}

<!-- Footer -->
{{ include('parts/password-footer.twig') }}

</body>

</html>
